@import "~/src/styles/mixins";

.img {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: auto;

  object-fit: cover;

  @include tablet() {
    width: 100%;
    height: auto;
    max-height: none;
  }
}
.frame {
  position: relative;
  z-index: 1;

  width: 100%;
  height: auto;

  left: 50%;
  transform: translate(-50%, 0.1%);
  filter: drop-shadow(3px -3px 2px var(--common-shadow));

  @include tablet() {
    width: 100%;
    height: auto;
    max-height: none;
    transform: translate(-50%, -0.5%);
  }
}
