@import "~/src/styles/mixins";

.wrapper {
  position: relative;
  background-color: wheat;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.background {
  mix-blend-mode: multiply;
  filter: brightness(90%);
  background-color: #f9eeda;
  background-size: cover;
  z-index: -1;
}

.bgDecor {
  mix-blend-mode: multiply;
  filter: brightness(90%) invert(0.92);
  background-size: cover;
  z-index: -1;
}

.bottomStrokeWrapper {
  min-height: 20px;

  @include tablet() {
    min-height: 40px;
  }

  @include laptop() {
    min-height: 100px;
  }
}

.bottomStroke {
  width: 100%;
  height: auto;

  position: absolute;
  bottom: 0;
  transform: translateY(55%);
  filter: drop-shadow(4px -4px 3px #212d4a);
}
