@import "~/src/styles/mixins";

.wrapper {
  width: 100%;
  height: 100%;
}

.content {
  min-height: 500px;
  color: #fff;
}

.section {
  position: relative;
  @include blockContent();
  padding-top: 24px;
  padding-bottom: 24px;

  @include tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.sectionList {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #fff;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
