@import "~/src/styles/mixins";

.photoCardWrapper {
  position: relative;
  div {
    // --penLine-transform: translate(10px, 40px);

    --decor-transform: rotate(45deg);
    --decor-animation: bounce 20s infinite linear;

    --clip-transform: scale(1.5) rotate(-90deg);

    --imgBg-filter: brightness(0.9);
    --imgBg-transform: rotate(4deg);
  }
}

.photoCardWrapper_2 {
  position: relative;
  div {
    --penLine-transform: translate(50px, 0px);

    --decor-transform: rotate(10deg) scale(2);
    --decor-left: auto;
    --decor-right: auto;
    // --decor-animation: bounce 20s infinite linear;

    --clip-transform: scale(1.35) rotate(90deg);
    --clip-left: 10%;
    --clip-right: auto;

    --imgBg-filter: brightness(0.9);
    --imgBg-transform: rotate(-5deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-15deg);
  }
}

.blot_1 {
  position: absolute;
  top: -15%;
  z-index: -1;
  left: -20%;
  filter: opacity(0.45) invert(0.8);
  transform: rotate(45deg);
}

.blot_2 {
  position: absolute;
  bottom: -15%;
  z-index: -1;
  right: -20%;
  filter: opacity(0.45) invert(0.8);
  transform: rotate(45deg);
}
