@import "~/src/styles/variables";

.wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 6px;
  cursor: pointer;
  z-index: 10;
}

.langTitle {
  color: #ccc;
}

.active {
  color: #000;
}

.separator {
  width: 2px;
  height: 16px;
  border-left: 2px solid var(--page-title-color);
}
