@import "~/src/styles/variables";

.wrapper {
  width: fit-content;
  justify-self: end;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 6px;
  cursor: pointer;
  z-index: 10;
}

.langTitle {
  font-size: 14px;
  color: var(--nav-gray);
}

.active {
  color: #000;
}

.separator {
  width: 2px;
  height: 16px;
  border-left: 2px solid var(--page-title-color);
}
