@import "~/src/styles/variables";

@mixin tablet() {
  @media (width >= $tablet) {
    @content;
  }
}

@mixin laptop() {
  @media (width >= $laptop) {
    @content;
  }
}

@mixin desktop() {
  @media (width >= $desktop) {
    @content;
  }
}

@mixin pageTitle() {
  font-family: var(--font-shantell);
  font-weight: 500;
  font-size: 36px;
  color: var(--page-title-color);
  text-align: center;
  opacity: 0.8;

  @include tablet {
    font-size: 48px;
  }

  @include desktop {
    font-size: 64px;
  }
}

@mixin sectionTitle() {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  line-height: 200%;
  margin-bottom: 16px;

  @include tablet {
    font-size: 32px;
  }

  @include desktop {
    font-size: 36px;
  }
}

@mixin pageParagraphText() {
  font-weight: 400;
  font-size: 14px;
  text-align: center;

  @include tablet {
    font-size: 16px;
  }

  @include desktop {
    font-size: 18px;
  }
}

@mixin blockContent() {
  padding-left: $padding_general_mobile;
  padding-right: $padding_general_mobile;

  @include tablet() {
    padding-left: $padding_general;
    padding-right: $padding_general;
  }
}
