@import "~/src/styles/variables";

@mixin tablet() {
  @media (width >= $tablet) {
    @content;
  }
}

@mixin laptop() {
  @media (width >= $laptop) {
    @content;
  }
}

@mixin desktop() {
  @media (width >= $desktop) {
    @content;
  }
}

@mixin pageTitle() {
  font-family: var(--font-shantell);
  font-weight: 500;
  font-size: 36px;
  color: var(--page-title-color);
  text-align: center;

  @include tablet {
    font-size: 48px;
  }

  @include desktop {
    font-size: 64px;
  }
}

@mixin pageContent() {
  padding-top: $header-height;
}
