@import "~/src/styles/variables";

@mixin country {
  display: block;
  width: 100%;
  color: var(--nav-gray);
  line-height: 200%;
  border-radius: 6px;
}

@mixin countrySelected {
  color: #000;
  background-color: rgba(197, 227, 255, 0.8);
}

@mixin countryHover {
  background-color: #f5f5f5;
}

@mixin logo {
  justify-self: start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  span {
    font-family: var(--font-shantell);
    color: var(--dark-blue);
    font-weight: 500;
    text-shadow: 2px 2px 1px rgba(182, 182, 182, 0.506);
    font-size: 18px;
  }
}
