$desktop: 1920px;

$bbLaptop: 1700px;
$bLaptop: 1500px;

$laptop: 1280px;

$bTablet: 980px;

$tablet: 780px;

$sTablet: 670px;
$ssTablet: 600px;

$mobile: 500px;

$sMobile: 400px;
$ssMobile: 360px;

// border radius
$br: 16px;

// box-shadows
$box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
