@import "~/src/styles/variables";
@import "~/src/styles/mixins";

.wrapper {
  position: absolute;
  height: $header-height;
  top: 0;
  padding: 12px 6px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    padding: 150px 50px 150px 30px;
  }
}
