@import "~/src/styles/variables";
@import "~/src/styles/mixins";

.wrapper {
  position: absolute;
  height: $header-height;
  width: 100%;
  top: 0;
  padding: 12px 10px;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-items: center;
  column-gap: 50px;

  @include tablet {
    padding: 12px 32px;
    grid-template-columns: 1fr auto auto;
  }
}

.logo {
  @include logo();
}

.logoIcon {
  border: 1px dashed var(--dark-blue);
  border-radius: 50%;
}

.item {
  display: none;

  @include tablet {
    display: block;
  }
}

.burger {
  @include tablet {
    display: none;
  }
}
