@import "~/src/styles/variables";
@import "~/src/styles/mixins";
@import "~/src/styles/navigation_mixins";

.wrapper {
  position: fixed;
  height: $header-height-mobile;
  width: 100%;
  top: 0;
  padding: 12px $padding_general_mobile;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-items: center;
  column-gap: 50px;

  @include tablet {
    height: $header-height;
    padding: 12px $padding_general;
    grid-template-columns: 1fr auto auto;
  }
}

.item {
  display: none;

  @include tablet {
    display: block;
  }
}
