@import "~/src/styles/mixins";
@import "~/src/styles/variables";

.footer {
  @include blockContent();
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: var(--nav-gray);

  @media (width >= $ssTablet) {
    flex-direction: row;
  }
}

.refs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media (width >= $ssTablet) {
    align-items: flex-start;
  }
}

.link {
  cursor: pointer;
  font-weight: 400;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: center;

  @include tablet {
    font-size: 20px;
  }

  @include desktop {
    font-size: 24px;
  }
}

.youTube {
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  text-align: center;

  @include tablet {
    font-size: 24px;
  }

  @include desktop {
    font-size: 28px;
  }
}
