@import "~/src/styles/mixins";
/**
    To set individual style for the card you can use CSS variables 
    in the parent component

    --penLine-transform: translate(50px, 0px);

    --decor-transform: rotate(10deg) scale(2);
    --decor-left: auto;
    --decor-right: auto;
    --decor-animation: bounce 20s infinite linear;

    --clip-transform: scale(1.5) translate(-80%, 0px);
    --clip-left: 16%;
    --clip-right: auto;

    --imgBg-filter: brightness(0.9);
    --imgBg-transform: rotate(-5deg);
*/

.wrapper {
  position: relative;
  margin: $photoMargin;

  /* Default CSS variable values */
  --penLine-transform: none;

  --decor-transform: none;
  --decor-animation: none;

  --clip-transform: none;

  --imgBg-filter: none;
  --imgBg-transform: none;

  @include tablet() {
    margin: $photoMarginTablet;
  }
}

.card {
  position: relative;
  padding: $photoPadding;
  background-color: rgb(255, 252, 247);

  box-shadow: 8px -8px 8px -8px var(--common-shadow);
  border-radius: $photoRadius;
}

.imgBg {
  position: absolute;
  z-index: 0;

  width: 100%;
  height: auto;

  left: 8px;
  top: -5px;
  transform: rotate(4deg);

  border: $photoPadding solid rgb(255, 252, 247);
  border-bottom: calc($photoPadding * 2) solid rgb(255, 252, 247);
  border-radius: $photoRadius;
  box-shadow: 6px -6px 5px -6px rgba(87, 72, 11, 1);
  object-fit: cover;

  filter: var(--imgBg-filter);
  transform: var(--imgBg-transform);

  @include tablet() {
    width: calc(100% - $photoPadding * 2);
    height: auto;
    max-height: none;
  }
}

.img {
  position: relative;

  width: 100%;
  height: auto;

  object-fit: cover;

  @include tablet() {
    width: 100%;
    height: auto;
    max-height: none;
  }
}

.clip {
  position: absolute;
  width: 40px;
  height: auto;
  top: -10px;
  right: var(--clip-right, 8%);
  left: var(--clip-left, auto);

  z-index: 2;

  transform: var(--clip-transform);
}

.decor {
  position: absolute;
  bottom: var(--decor-bottom, -20px);
  right: var(--decor-right, -20px);

  z-index: 2;

  transform: var(--decor-transform);
  animation: var(--decor-animation);
}

.penLine {
  width: 70%;
  height: auto;
  max-width: 300px;
  position: absolute;
  opacity: 0.8;
  top: $photoPadding / 2;
  left: 0;

  z-index: 2;

  transform: var(--penLine-transform);
}

.description {
  margin-top: 8px;
  text-align: center;
  @include pageParagraphText();
  font-family: var(--font-shantell);

  min-height: calc(16px * 2);

  @include tablet() {
    min-height: none;
  }
}
