@import "~/src/styles/mixins";

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.background {
  width: 100vw;
  height: 100vh;
  // background-image: url("/assets/images/home/bg.webp");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.titleContainer {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  animation: moveUpTitle 5s ease-in-out forwards;

  @include tablet {
    gap: 30px;
  }

  @include desktop {
    gap: 50px;
  }
}

.subtitle {
  font-family: var(--font-exo);
  font-weight: 400;
  font-size: 24px;
  color: #000;
  text-align: center;
  opacity: 0.8;

  @include tablet {
    font-size: 32px;
  }

  @include desktop {
    font-size: 42px;
  }
}

.title {
  @include pageTitle();
}

.cloudsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cloud {
  position: absolute;
  width: auto;
  height: 70%;
  opacity: 0.8;

  @include tablet {
    height: 120%;
  }

  @include laptop {
    height: 150%;
  }

  &_left__top {
    top: -15%;

    animation: moveLeftUpLittle 5s ease-in-out forwards;
  }

  &_left__top_2 {
    width: 80%;
    height: auto;
    opacity: 0.5;

    animation: moveLeftUpLittle_2 4s ease-in-out forwards;
  }

  &_right__top {
    right: 0;

    animation: moveRightUpLittle 5s ease-in-out forwards;
  }

  &_right__top_2 {
    width: 80%;
    height: auto;
    right: 0;
    opacity: 0.5;

    animation: moveRightUpLittle_2 4s ease-in-out forwards;
  }

  &_center {
    top: 50%;
    transform: translateY(-35%) translateX(0%);

    &__animated {
      animation: moveUp 5s ease-in-out forwards;
    }
  }

  &_center_2 {
    width: 100%;
    height: auto;
    top: 70%;
    transform: translateY(-50%) translateX(0%);
    opacity: 0.6;

    &__animated {
      animation: moveUp_2 5s ease-in-out forwards;
    }
  }

  &_left__bottom {
    bottom: 10%;

    &__animated {
      animation: moveLeftUp 5s ease-in-out forwards;
    }
  }

  &_right__bottom {
    right: 0;
    bottom: 10%;

    &__animated {
      animation: moveRightUp 5s ease-in-out forwards;
    }
  }

  &__infinite {
    width: 100vw;
    height: auto;
    left: 0;
    opacity: 0.8;
    animation: infiniteClouds infinite 40s linear;
  }

  &__infinite_2 {
    left: 100vw;
    opacity: 0.7;
  }
}

@keyframes moveRightUp {
  0% {
    transform: translate(0, -10%);
  }
  100% {
    transform: translate(20%, -28%);
  }
}

@keyframes moveRightUpLittle {
  0% {
    transform: translate(0, -5%);
  }
  100% {
    transform: translate(5%, -15%);
  }
}

@keyframes moveRightUpLittle_2 {
  0% {
    transform: translate(0, -5%);
  }
  100% {
    transform: translate(5%, -20%);
  }
}

@keyframes moveRightUpLittle_3 {
  0% {
    right: 0;
    top: -10%;
  }
  100% {
    right: -5%;
    top: -32%;
  }
}

@keyframes moveLeftUp {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(-40%, -8%);
  }
}

@keyframes moveLeftUpLittle {
  0% {
    left: 0;
    top: 5%;
  }
  100% {
    left: -5%;
    top: -15%;
  }
}

@keyframes moveLeftUpLittle_2 {
  0% {
    transform: translate(0, -20%);
  }
  100% {
    transform: translate(-3%, -40%);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(-35%) translateX(0%);
  }
  100% {
    transform: translateY(-80%) translateX(0%);
  }
}

@keyframes moveUp_2 {
  0% {
    transform: translateY(-50%) translateX(0%);
  }
  100% {
    transform: translateY(-70%) translateX(0%);
  }
}

@keyframes moveUpTitle {
  0% {
    transform: scale(0.5) translateY(40%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(-10%);
    opacity: 1;
  }
}

@keyframes infiniteClouds {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
