@import "~/src/styles/mixins";

.background {
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/home/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.titleContainer {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  animation: moveUpTitle 5s ease-in-out forwards;

  @include tablet {
    gap: 50px;
  }

  @include desktop {
    gap: 80px;
  }
}

.subtitle {
  font-family: var(--font-exo);
  font-weight: 400;
  font-size: 24px;
  color: #000;
  text-align: center;
  opacity: 0.8;

  @include tablet {
    font-size: 32px;
  }

  @include desktop {
    font-size: 42px;
  }
}

.title {
  @include pageTitle();
}

.cloudsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cloud {
  position: absolute;
  width: auto;
  height: 70%;
  opacity: 0.8;

  @include tablet {
    height: 120%;
  }

  @include laptop {
    height: 150%;
  }

  &_left__top {
    top: -15%;

    animation: moveLeftUpLittle 5s ease-in-out forwards;
  }

  &_left__top_2 {
    width: 80%;
    height: auto;
    left: 0;
    top: -20%;
    opacity: 0.5;

    animation: moveLeftUpLittle_2 4s ease-in-out forwards;
  }

  &_right__top {
    right: 0;
    top: -15%;

    animation: moveRightUpLittle 5s ease-in-out forwards;
  }

  &_right__top_2 {
    width: 80%;
    height: auto;
    right: 0;
    top: -15%;
    opacity: 0.5;

    animation: moveRightUpLittle 4s ease-in-out forwards;
  }

  &_center {
    top: 50%;
    left: 50%;
    transform: translateY(-35%) translateX(-50%);

    &__animated {
      animation: moveUp 5s ease-in-out forwards;
    }
  }

  &_center_2 {
    width: 100%;
    height: auto;
    top: 70%;
    left: 50%;
    transform: translateY(-25%) translateX(-50%);
    opacity: 0.6;

    &__animated {
      animation: moveUp_2 5s ease-in-out forwards;
    }
  }

  &_left__bottom {
    bottom: 10%;

    &__animated {
      animation: moveLeftUp 5s ease-in-out forwards;
    }
  }

  &_right__bottom {
    right: 0;
    bottom: 10%;

    &__animated {
      animation: moveRightUp 5s ease-in-out forwards;
    }
  }

  &__infinite {
    width: 100vw;
    height: auto;
    left: 0;
    opacity: 0.8;
    animation: infiniteClouds infinite 40s linear;
  }

  &__infinite_2 {
    left: 100vw;
    opacity: 0.7;
  }
}

@keyframes moveRightUp {
  0% {
    right: 0;
    bottom: -10%;
  }
  100% {
    right: -20%;
    bottom: 8%;
  }
}

@keyframes moveRightUpLittle {
  0% {
    right: 0;
    top: -5%;
  }
  100% {
    right: -5%;
    top: -15%;
  }
}

@keyframes moveRightUpLittle_2 {
  0% {
    right: 0;
    top: -10%;
  }
  100% {
    right: -5%;
    top: -32%;
  }
}

@keyframes moveLeftUp {
  0% {
    left: 0;
    bottom: -10%;
  }
  100% {
    left: -40%;
    bottom: 8%;
  }
}

@keyframes moveLeftUpLittle {
  0% {
    left: 0;
    top: 5%;
  }
  100% {
    left: -5%;
    top: -15%;
  }
}

@keyframes moveLeftUpLittle_2 {
  0% {
    left: 0;
    top: -20%;
  }
  100% {
    left: -3%;
    top: -40%;
  }
}

@keyframes moveUp {
  0% {
    top: 80%;
    transform: translateY(-35%) translateX(-50%);
  }
  100% {
    top: 40%;
    transform: translateY(-35%) translateX(-50%);
  }
}

@keyframes moveUp_2 {
  0% {
    top: 70%;
    transform: translateY(-25%) translateX(-40%);
  }
  100% {
    top: 30%;
    transform: translateY(-25%) translateX(-40%);
  }
}

@keyframes moveUpTitle {
  0% {
    top: 20%;
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    top: 0;
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes infiniteClouds {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
