@import "~/src/styles/mixins";

.mainImg {
  position: relative;
  z-index: -1;

  width: 100%;
  height: auto;
  max-height: 800px;

  object-fit: cover;

  @include tablet() {
    width: 100%;
    height: auto;
    max-height: none;
  }
}
.frame {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: auto;
  max-height: 800px;

  left: 50%;
  transform: translate(-50%, 0.1%);

  @include tablet() {
    width: 100%;
    height: auto;
    max-height: none;
    transform: rotate(180deg) translate(50%, -0.5%) scale(1.08);
  }
}
